<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiURL" value="http://localhost:5000/filmapi/"/>
    <add key="TheMovieDbKey" value="9edd5c4cf5ae54ee66319017c75668fc"/>
    <add key="HostTMDB" value="https://api.themoviedb.org/3/movie/"/>
    <add key="HostPosters" value="https://image.tmdb.org/t/p/original"/>
  </appSettings>
</configuration>